<!-- Views/Home/Index.cshtml -->
@model WebApplication2.Models.User

<form asp-controller="Home" asp-action="Index" method="post">
    <label for="Name">Ваше ім'я:</label>
    <input type="text" name="Name" required />
    <br /><br />
    <label for="Age">Ваш вік:</label>
    <input type="number" name="Age" required />
    <br /><br />

    <button type="submit">Submit</button>
</form>
